@import url('https://fonts.googleapis.com/css?family=Handlee');
li,p,h1,h3,h2 {


   font-family: 'Handlee', cursive;


}
li {
 display: none;
 }
li img {
 max-width: 100%;
}
li p {
 padding: 10px;
}
li img {
}
li h2 {
 text-align: center;
 color: #FFFFFF;
 background-color: #ff4800;
 height: 50px;
 margin: 0;
 padding-top: 10px;
 padding-bottom: 0px;
 font-size: 20px;
 line-height: 150%
}
button {
  background-color: #FF9900;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
button.previous {
 background-color: #EF7A60
}
.getStarted {
 width: 100%;
 background-color: green;
}
.active {
 border: 2px solid #FF9900;
 display: block;
}

.ramen {width: 600; height: 400}

.howto, .buttonContainer, .titleContainer {
 width:600px;
 margin-left: auto;
 margin-right: auto;
 display: block;
 padding: 0
}
.survey {
 text-align: center;
}
.survey .yes {background-color: #90ff00; margin: 15px;}
.survey .no {background-color:#ff3b00;  margin: 15px; }
