.image-bg {
  background-image: url("images/cover1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.activate {
  display: block;
  padding: 10px;
  color: white;
  background: #FFCC00; }

header h1 {
  height: 100px;
  padding-top: 50px;
  text-align: center;
}

nav ul {
  text-align: right;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

}
nav li {
  text-align: center;
  font-size: 32px;
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline;
}
.square-img {
  display: none;
 }
.wide-img {
  display: block; width: 960px; margin-left: auto;margin-right: auto
 }
 /* Gallery layout */
 .gallery { width: 960px;}
 .gallery li {
   width: 280px;
   min-height: 300px;
   margin: 10px;
   float: left;
 }
 .content { display: block; width: 960px; margin-left: auto;margin-right: auto;font-family: 'Rock Salt', cursive;}

 footer {
   /* position: fixed;
   bottom: 0;
   width: 100%;
   height: 100px; */
 }
 .footerblock {
   display: block;
   height: 100px;

   ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
   }
   .accordion li .content {
     /*display: none;*/
     height: 0;
     overflow: hidden;
   }
   .accordion li:hover .content {

     padding: 25px;
     line-height: 20px;
     border: 1px dotted #CCCCCC;
     animation-name: opencontent;
     animation-duration: 1s;
     height: 300px;

   }
   .activator {
     display: block;
     padding: 10px;
     color: white;
     background: #FFCC00; }

   .accordion li span {
     cursor: nesw-resize;
     border-bottom: 2px solid #FF9900;
   }
   /* The animation code */
   @keyframes opencontent {
      0%   {height: 1px;}
      100% {
        height: 300px;
      overflow: visible;
    }
   }

 }
