.footer-bg { background: #a33d00; }
.yellow-bg { background: #ffed66; }
.light-bg { background: #a33d00; }

.white-txt { color: #ffffff; }
.medium-txt { color: #FF6708; }
.red-txt { color: #e00b0b; }

.gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #CCCCCC;
}
.clear { clear: both;}

.introtext {font-family: 'Chewy', cursive;}


.gallery ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.gallery li {
  border: 1px solid #CCCCCC;
  display: block;
}
.outerimage {
  background: url('../images/manu.jpeg');
display: block; width: auto; height: 100%;

}
.innertext {
 font-size: 30px;
 color: white;
 padding: 10px;
 text-shadow: 1px 1px 3px #888;

}
/* A comment */
body {
  padding: 0;
  margin: 0;
}
nav ul {
  list-style-type:none; padding-left:0;
}
nav a { text-decoration: none;}

img { max-width: 100%; }

footer p { padding: 25px; }
