@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
@import url('https://fonts.googleapis.com/css?family=Montserrat')



 body { background-color: #1277AA;

}

 h1 {
   font-size: 64px;
   width: 680px;
   height: 200px;
   margin-left: auto;
   margin-right: auto;
   color: #FFFFFF
 }
h2 {
  font-size: 55px;
  width: 680px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF
}
.att {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  color: #FFFFFF;
  font-size: 24px;
  font-family:
  text-align: justify;
}
.banner {
  display: block;
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.banner ul { margin: 0; padding: 0}
.banner li {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin:0.2rem;
}
.intro {
  display: block;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  text-align: justify;
}

}
.Fascinate { font-family: 'Fascinate Inline', cursive; }

.three,  { font-size: 128px;
}
.white { color: #FFFFFF;}
.three { color: #00dca8;
  -webkit-transform: rotate(0.0deg);
      -ms-transform: rotate(5.0deg);
    transform: rotate(7.5deg);
  display: inline-block;}
